<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="ML Blog" href="{{ site.ml_blog }}" target="_blank">ml blog</a></li>
				<li><a title="Resume" href="{{ site.resume }}" target="_blank">resume</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">github</a></li>
			</ul>
		</section>
	</div>
</footer>
